* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Dohyeon-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Dohyeon-Regular'), url('../src/fonts/DoHyeon-Regular.ttf'), format('ttf'),
}

body,
html {
    height: 100%;
    /* background-color: black; */
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}


input:focus {
    outline: none;
}

input::-webkit-input-placeholder {
    color: white;
}
input:-ms-input-placeholder {
    color: white;
}
textarea::-webkit-input-placeholder {
    color: white;
}
textarea:-ms-input-placeholder {
    color: white;
}

.descriptionText { /* 테이블에 나오는 내용 길면 줄이는 효과 */
    /* max-width: 50%; */
    width: 55%;
    table-layout: fixed;
}

.name {
    width: 22%;
    table-layout: fixed;
}

.description {
    width: 55% - fixed;
}

.date {
    width: 23%;
}

.delete {
    width: 20%;
    table-layout: fixed;
    text-overflow:ellipsis; 
    overflow:hidden; 
    white-space:nowrap;
}

.cardBody {
    white-space:pre-line;
    margin-left: 0.5px;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
}

.contactWrapper {
    padding-top: 45px;
    padding-left: 25px;
    padding-right: 25px;
}

.contact {
    color: #424242;
    font-size: 15px;
    letter-spacing: 0em;
    line-height: 1.6;
    font-family: 'DoHyeon-Regular';
}

.img {
    height: 32px;
    width: 32px;
}

.copyright {
    margin-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0em;
    color: #424242;
}